
<template>
  <header class="o-header-wrapper o-header">
    <div class="a-header-logo">
      <a
        href="/dashboard"
        class=""
      />
    </div>
    <div class="top-line">
      <div class="top-line__inner">
        <div class="a-header__center">
          <div class="pipeline-header">
            <div class="a-header__items-group">
              <div>
                <button @click="router.push({name: 'TestDashboard'})">
                  <a href="">Projects</a>
                </button>
              </div>
              <div>
                <button @click="router.push({name: 'UserDashboard'})">
                  <a href="">Users</a>
                </button>
              </div>
              <button @click="router.push({name: '404NotFound'})">
                <a href="">404 not found</a>
              </button>
              <button @click="router.push({name: 'SignUp'})">
                <a href="">Sign up</a>
              </button>
              <button @click="router.push({name: 'SignIn'})">
                <a href="">Sign in</a>
              </button>
            </div>
            <div />
          </div>
        </div>
        <div class="a-header-part-right">
          <div class="a-header__items-group" />
          <div class="a-header__items-group">
            <button
              style="margin-right: 20px"
              @click="handleLogout"
            >
              Log out
            </button>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
import useAuth from '../../store/use/useAuth'
import { useRouter } from 'vue-router'

export default {
  name: 'HeaderLine',
  setup() {
    const router = useRouter()
    const { LOGOUT } = useAuth()

    function handleLogout() {
      LOGOUT()
    }

    return {
      handleLogout,
      router,
    }
  },
}

</script>

<style lang="scss">
  @import 'header-line';
</style>
