@import "@/assets/scss/_mixins.scss";

.o-header-wrapper {
  position: relative;
  z-index: 999;
  display: flex;
  height: 46px;
  background-color: #222528;
  color: #fff;
}

.a-header-logo {
  flex: 50px 0;
  padding: 10px 0 0 15px;
}

.o-header-wrapper .top-line {
  flex: auto;
  align-self: center;
}

.o-header-wrapper .top-line .top-line__inner {
  display: flex;
}

.a-header__center {
  flex: auto;
  padding-right: 15px;
}

.o-header .header__item, .o-header .pipeline-header {
  align-items: center;
}

.a-header-part-right, .a-header__center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.a-header__items-group {
  display: flex;
}

button {
  margin: 3px;
  @include font-normal-14;
}

/* unvisited link */
a:link {
  color: black;
  text-decoration: none
}

/* visited link */
a:visited {
  color: black;
  text-decoration: none
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}
