@import "@/assets/scss/_vars.scss";

@mixin font-set($f-size: 12px, $f-weight: 400, $l-height: 1.18) {
  font-family: inherit;
  font-size: $f-size;
  font-weight: $f-weight;
  line-height: $l-height;
}

// normal
@mixin font-normal-10 {
  @include font-set($t-font-size-10, $t-font-weight-normal, $t-line-height-12)
}

@mixin font-normal-12 {
  @include font-set($t-font-size-12, $t-font-weight-normal, $t-line-height-14)
}

@mixin font-normal-14 {
  @include font-set($t-font-size-14, $t-font-weight-normal, $t-line-height-16)
}

@mixin font-normal-16 {
  @include font-set($t-font-size-16, $t-font-weight-normal, $t-line-height-22)
}

@mixin font-normal-20 {
  @include font-set($t-font-size-20, $t-font-weight-normal, $t-line-height-26)
}

@mixin font-normal-64 {
  @include font-set($t-font-size-64,$t-font-weight-normal, $t-line-height-80)
}

@mixin font-normal-304 {
  @include font-set($t-font-size-304,$t-font-weight-normal, $t-line-height-382)
}

// medium
@mixin font-medium-12 {
  @include font-set($t-font-size-12, $t-font-weight-medium, $t-line-height-14)
}

@mixin font-medium-14 {
  @include font-set($t-font-size-14, $t-font-weight-medium, $t-line-height-16)
}

@mixin font-medium-16 {
  @include font-set($t-font-size-16, $t-font-weight-medium, $t-line-height-22)
}

@mixin font-medium-18 {
  @include font-set($t-font-size-18, $t-font-weight-medium, $t-line-height-22)
}

@mixin font-medium-20 {
  @include font-set($t-font-size-20, $t-font-weight-medium, $t-line-height-26)
}

@mixin font-medium-26 {
  @include font-set($t-font-size-26, $t-font-weight-medium, $t-line-height-32)
}

// bold
@mixin font-bold-12 {
  @include font-set($t-font-size-12, $t-font-weight-bold, $t-line-height-14)
}

@mixin font-bold-14 {
  @include font-set($t-font-size-14, $t-font-weight-bold, $t-line-height-19)
}

@mixin font-bold-24 {
  @include font-set($t-font-size-24, $t-font-weight-bold, $t-line-height-26)
}

@mixin font-bold-32 {
  @include font-set($t-font-size-32, $t-font-weight-bold, $t-line-height-32)
}
