$white: #FFFFFF;

$t-font-size-10: 10px;
$t-font-size-12: 12px;
$t-font-size-14: 14px;
$t-font-size-16: 16px;
$t-font-size-18: 18px;
$t-font-size-20: 20px;
$t-font-size-24: 24px;
$t-font-size-26: 26px;
$t-font-size-32: 32px;
$t-font-size-64: 64px;
$t-font-size-304: 304px;

$t-line-height-12: 12px;
$t-line-height-14: 14px;
$t-line-height-16: 16px;
$t-line-height-19: 19.6px;
$t-line-height-22: 22px;
$t-line-height-23: 23px;
$t-line-height-26: 26px;
$t-line-height-32: 32px;
$t-line-height-80: 80px;
$t-line-height-382: 382px;

$t-font-weight-normal: 400;
$t-font-weight-medium: 600;
$t-font-weight-bold: 700;