@import "@/assets/scss/_mixins.scss";

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Source Sans Pro,sans-serif;
  font-weight: 400;
  color: #222528;
  font-size: 16px;
  line-height: 1.4;
  background-color: #fff;
}