@import "@/assets/scss/_mixins.scss";

.main {
  display: grid;
  grid-template-columns: 220px 1fr;
}

.app-sidebar {
  display: flex;
  width: 220px;
  background-color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  z-index: 998;
  border-right: 1px solid #eaeaea;
}

.dashboard-aside {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.dashboard-aside__item {
  display: flex;
  align-items: center;
  height: 36px;
  cursor: pointer;
  width: 100%;
  padding-left: 15px;
  @include font-normal-14;
}

.dashboard-aside__item--active, .dashboard-aside__item:hover {
  background-color: #f7f8fa;
}

.app-content {
  display: flex;
  background-color: #f4f4f8;
}

.dashboard{
  margin: 20px;
}

.projects-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;
  justify-content: flex-start;
}

.create-project-tile {
  height: 150px;
  width: 224px;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px dashed #cc3d39;
  color: #cc3d39;
  cursor: pointer;
  margin-right: 20px;
  margin-bottom: 20px;
}