<template>
  <div>
    <HeaderLine />
    <div class="main">
      <div class="app-sidebar">
        <div class="dashboard-aside">
          <div
            :class="{ 'dashboard-aside__item':true, 'dashboard-aside__item--active':isFilterProjects}"
            @click="filterProjects"
          >
            Projects
          </div>
          <div
            :class="{ 'dashboard-aside__item':true, 'dashboard-aside__item--active':isFilterArchived}"
            @click="filterArchived"
          >
            Archived Projects
          </div>
          <!---->
        </div>
      </div>
      <div class="app-content">
        <div class="dashboard">
          <div class="projects-list">
            <div
              class="create-project-tile"
              @click="createProject"
            >
              + New Project
            </div>
            <div
              v-for="(project, index) in filteredProjects"
              :key="project.id"
            >
              <OProjectItem
                :project="project"
                :index="index"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import HeaderLine from '../header-line'
import OProjectItem from './o-project-item'
import { onMounted, computed, ref } from 'vue'
import useProjects from '../../store/use/useProjects'
import { useRouter, useRoute } from 'vue-router'

export default {
  name: 'TestDashboard',
  components: {
    HeaderLine,
    OProjectItem,
  },
  setup() {
    const {
      requestProjects,
      postProject,
      projects,
    } = useProjects()

    const router = useRouter()
    const route = useRoute()

    const PROJECT_NORMAL = 'none'
    const PROJECT_ARCHIVED = 'draft'

    router.push({ query: { status: PROJECT_NORMAL } })

    const filteredProjects = computed(() => {
      const routeStatus = route.query.status || PROJECT_NORMAL
      return projects.filter(project => project.status === routeStatus)
    })

    const isFilterProjects = ref(true)
    const isFilterArchived = ref(false)

    onMounted(() => {
      requestProjects()
    })

    async function createProject() {
      await postProject()
      requestProjects()
    }

    function filterArchived() {
      router.push({ query: { status: PROJECT_ARCHIVED } })
      isFilterArchived.value = true
      isFilterProjects.value = false
    }

    function filterProjects() {
      router.push({ query: { status: PROJECT_NORMAL } })
      isFilterArchived.value = false
      isFilterProjects.value = true
    }

    return {
      createProject,
      requestProjects,
      filteredProjects,
      projects,
      filterArchived,
      filterProjects,
      isFilterProjects,
      isFilterArchived,
    }
  },
}
</script>

<style lang="scss">
  @import "test-dashboard";
</style>
