<template>
  <div>
    <AuthHeader />
    <div class="not-found-centre-block">
      <h2>404</h2>
      <h3>Page not found</h3>
      <button @click="goBack">
        Previous page
      </button>
    </div>
  </div>
</template>

<script>
import AuthHeader from '../auth/auth-header'
import { useRouter } from 'vue-router'

export default {
  name: 'NotFound',
  components: {
    AuthHeader,
  },
  setup() {
    const router = useRouter()

    function goBack() {
      router.go(-1)
    }

    return {
      goBack,
    }
  },
}
</script>

<style lang="scss">
  @import "not-found";
</style>
