<template>
  <div class="header">
    <img
      src="@/assets/datrics-logo.svg"
      alt="datrics_logo"
    >
  </div>
</template>

<script>

export default {
  name: 'AuthHeader',
}
</script>

<style lang="scss">
  @import 'auth-header';
</style>
