@import "@/assets/scss/_mixins.scss";

.header{
  margin: 32px 40px;
}

.sign-up__layout {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.sign-up__container {
  display: flex;
  flex-direction: column;
  width: 390px;
  margin: 0px 100px;
  vertical-align: top;
}

.sign-up__container-field-checkbox {
  display: flex;
  margin-bottom: 16px;
}

.sign-up__container-field-checkbox-input {
  background: #ffffff;
  border: 1px solid #222528;
  box-sizing: border-box;
  border-radius: 2px;
  margin-right: 9px;
  cursor: pointer;
}

.sign-up__container-field-checkbox-text {
  color: #222528;
  @include font-normal-14;
}

.sign-up__container-field-button {
  width: 100%;
  height: 32px;
  background: #cc3d39;
  border-radius: 2px;
  border: none;
  margin-bottom: 20px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  @include font-normal-14;
}

.sign-up__container-field-password {
  position: absolute;
}

.sign-up__container-field-button-show-password {
  max-width: 25px;
  min-height: 20px;
  justify-content: center;
  border: none;
  background: none;

  text-align: center;
  color: #ffffff;
  cursor: pointer;
  @include font-normal-14;
}

.sign-up__container-field-button:hover {
  color: #fff;
  background: rgb(241, 47, 47);
}

.sign-in__field {
  color: #222528;
  margin-bottom: 8px;
  text-align: center;
  @include font-normal-14;
}

.terms__field {
  color: #222528;
  text-align: center;
  @include font-normal-14;
}

@media screen and (max-width: 800px) {
  .sign-up__layout {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    height: 100%;
    box-sizing: content-box;
  }

  .sign-up__description{
    display: none;
    flex-direction: column;
    width: 390px;
    height: 100%;
    margin: 30px;
  }

  .sign-up__container {
    display: flex;
    flex-direction: column;
    width: 390px;
    height: 100%;
    margin: 30px;
  }

}
