<template>
  <div class="users-dashboard">
    <HeaderLine />
    <h1 class="users-dashboard_title">
      Users dashboard
    </h1>
    <div class="users-dashboard_link">
      <span>Data getting from: </span>
      <a href="https://jsonplaceholder.typicode.com/">jsonplaceholder.typicode.com</a>
    </div>
    <div class="post-block">
      <div
        v-for="user in users"
        :key="user.id"
        class="post"
      >
        <h2>{{ user.name }}</h2>
        <p>Email:{{ user.email }}</p>
        <p>Phone:{{ user.phone }}</p>
        <p>Website:{{ user.website }}</p>
        <p>Address:<br>{{ user.address.city }}, {{ user.address.street }}</p>
      </div>
    </div>
  </div>
</template>

<script>

import HeaderLine from '../header-line'
import { onMounted, computed } from 'vue'
import useUsers from '../../store/use/useUsers'

export default {
  name: 'TestBackendRequests',
  components: {
    HeaderLine,
  },
  setup() {
    const {
      requestUsers,
      users,
    } = useUsers()

    computed(() => users)

    onMounted(() => {
      requestUsers()
    })

    return {
      users,
    }
  },
}
</script>

<style scoped lang="scss">
  @import 'user-dashboard';
</style>
