@import "@/assets/scss/_mixins.scss";

.users-dashboard {
  background-color: #f4f4f8;
}

.users-dashboard_title {
  text-align: center;
  margin: 0;
  margin-top: 8px;
}

.users-dashboard_link {
  text-align: center;
  margin-bottom: 8px;
  a {
    text-decoration: underline;
  }
}


.post-block {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;


  .post {
    width: 310px;
    border: 1px solid #ccc;
    border-radius: 16px;
    margin-left: 16px;
    margin-bottom: 16px;
    background: rgb(212, 212, 212);

    h2 {
      background: rgb(141, 183, 211);
      margin: 8px;
      padding: 16px;
      border-radius: 16px;
      text-align: center;
      @include font-bold-24;

    }

    p {
      padding: 8px;
      margin-top: 0px;
      margin: 8px;
      background: rgb(238, 238, 238);
      border-radius: 8px;
      @include font-normal-16;
    }
  }
}


