@import "@/assets/scss/_mixins.scss";

.sign-up__container-field {
  width: 100%;
  position: relative;
}

.sign-up__container-title {
  text-align: center;
  color: #222528;
  margin-bottom: 40px;
  @include font-medium-20;
}

.sign-up__container-field-title {
  width: 100%;
  color: #b4b4b4;
  @include font-normal-14;
}

.sign-up__container-field-input-box {
  position: relative;
}

.sign-up__container-field-input {
  width: 100%;
  height: 30px;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  background: #F2F2F2;;
  box-sizing: border-box;
}

.sign-up__container-field-error {
  width: 100%;
  min-height: 20px;
  color: red;
  @include font-normal-12;
}

.sign-up__container-field-password {
  position: absolute;
}

.sign-up__container-field-password-control {
  position: absolute;
  top: 7px;
  right: 5px;
  display: flex;
  justify-content: flex-end;
  height: 15px;
  cursor: pointer;
}