<template>
  <div>
    <div class="sign-up__description">
      <div class="sign-up__description-field">
        Do more experiments with your data, faster, without coding
      </div>
      <div class="sign-up__description-list">
        <ul>
          <li>Connect to data sources</li>
          <li>Prepare and explore your data easily</li>
          <li>Get predictions in minutes and visualize it</li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'AuthDescription',
}
</script>

<style lang="scss">
  @import "auth-description";
</style>
