@import "@/assets/scss/_mixins.scss";

.sign-up__description {
  display: flex;
  flex-direction: column;
  width: 540px;
  margin: 0px 40px;
  margin-top: 160px;
}

.sign-up__description-field {
  color: #222528;
  @include font-medium-26;
}

.sign-up__description-list {
  display: flex;
  width: 100%;
  margin: 26px 63px;
  color: #222528;
  @include font-medium-20;
}

@media screen and (max-width: 800px) {
  .sign-up__description{
    display: flex;
    flex-direction: column;
    width: 390px;
    height: 100%;
    margin: 30px;
  }
}
