@import "@/assets/scss/_mixins.scss";

.o-project-item{
  position:relative;
  width: 226px;
  height:150px;
  margin-right:20px;
  margin-bottom:20px;
  border-radius:4px;
  background-color: $white;
  cursor:pointer
}

.project-item__actions {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.project-item__content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 115px;
  padding: 15px 15px 20px;
}

.project-item__thumbnail {
  position: relative;
  width: 175px;
  height: 96px;
}

.project-item__name {
  display: -webkit-box;
  width: 175px;
  max-height: 38px;
  color: #222528;
  overflow: hidden;
  text-overflow: ellipsis;
  @include font-normal-16;
}

.project-item__footer {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

.project-item__date {
  margin-top: 5px;
  color: #222528;
  @include font-normal-10;
}

.project-item__date--lighter {
  opacity: .5;
}

.project-item__dots {
  width: 22px;
  height: 15px;
}

.project-item__dots--lighter {
  filter:
    invert(88%)
    sepia(4%)
    saturate(167%)
    hue-rotate(131deg)
    brightness(92%)
    contrast(89%);
    width: 22px;
    height: 15px;
  }

  .project-item__menu {
    position: relative;
    top: -5px;
    right: -21px;

    ul {
      list-style: none;
    }
}

.dropdown {
  position: absolute;
  top: 0px;
  right: 0;
  padding: 5px 0;
  min-width: 125px;
  background-color: $white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  @include font-normal-14;
  z-index: 1;
}

.dropdown__item {
  padding: 7px 15px;
  cursor: pointer;
}

.project-item__menu--opened {
  background-color: rgba(44,44,44,.8);
  border-radius:4px;
}
